<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalassignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applicationicon"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/applicationicon"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="my.bop.finalassignment.AdminAdmissionGraphOtherPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.ClientViewGraphOtherPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.AdminMedicationSearchKeyPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.AdminAdmissionModifyGraphPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.ClientAdmissionModifyGraphPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.ClientModifyPatientPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.ClientSearchPatientPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.ClientSearchStaffAdmissionPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.ClientSearchAdmissionPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.AdminAdmissionFinalisePatientPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.AdminAdmissionClinicianPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.AdminAdmissionPatientNotesPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.AdminAdmissionMedicationPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.AdminAdmissionGraphPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.AdminAdmissionStaffPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.AdminMedicationSearchPage"
            android:exported="true"
            android:label=""/>
        <activity
            android:name="my.bop.finalassignment.AdminClinicianSearchPage"
            android:exported="true"
            android:label="" />
        <activity
            android:name="my.bop.finalassignment.AdminPatientSearchPage"
            android:exported="true"
            android:label="" />
        <activity
            android:name="my.bop.finalassignment.ClientAdmissionClinicianPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.ClientAdmissionNotesPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.ClientAdmissionMedicationPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.ClientViewGraphPage"
            android:exported="true" />
        <activity
            android:name="my.bop.finalassignment.ClientViewHomePage"
            android:exported="true" />
        <activity android:name="my.bop.finalassignment.ClientAssignedAdmissionPage" />
        <activity android:name="my.bop.finalassignment.ClientConcernedAdmissionPage" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="my.bop.finalassignment.ClientViewNotesClientPage" />
        <activity android:name="my.bop.finalassignment.ClientViewMedicationClientPage" />
        <activity android:name="my.bop.finalassignment.PatientPainPage" />
        <activity android:name="my.bop.finalassignment.PatientHomePage" />
        <activity android:name="my.bop.finalassignment.AdminRoleModifyPage"
            android:label=""/>
        <activity android:name="my.bop.finalassignment.AdminRolePage"
            android:label=""/>
        <activity android:name="my.bop.finalassignment.AdminAdmissionModifyPatientNotesPage"
            android:label=""/>
        <activity android:name="my.bop.finalassignment.AdminAdmissionModifyMedicationPage"
            android:label=""/>
        <activity android:name="my.bop.finalassignment.AdminAdmissionPage"
            android:label=""/>
        <activity android:name="my.bop.finalassignment.AdminMedicationModifyPage"
            android:label=""/>
        <activity android:name="my.bop.finalassignment.AdminMedicationPage"
            android:label=""/>
        <activity android:name="my.bop.finalassignment.AdminClinicianModifyPage"
            android:label=""/>
        <activity android:name="my.bop.finalassignment.AdminClinicianPage"
            android:label=""/>
        <activity android:name="my.bop.finalassignment.AdminPatientPage"
            android:label="" />
        <activity android:name="my.bop.finalassignment.AdminPatientModifyPage"
            android:label="" />
        <activity android:name="my.bop.finalassignment.AdminHomePage"
            android:label="" />
        <activity android:name="my.bop.finalassignment.ClientAddAdmissionPage" />
        <activity android:name="my.bop.finalassignment.ClientFinaliseFeedbackPage" />
        <activity android:name="my.bop.finalassignment.ClientAddPatientPage" />
        <activity android:name="my.bop.finalassignment.ClientHomePage" />
        <activity
            android:name="my.bop.finalassignment.MainActivity"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Fire base messaging service -->
        <service android:name="my.bop.finalassignment.Notification.MyFirebaseServices">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="my.bop.finalassignment.ExampleJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>